{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="main">
    <div class="container mt-5 d-flex flex-column  justify-content-center align-items-center gap-2 ">
        <h2>Edit Contact Information</h2>
        <form method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-center flex-wrap w-75 gap-2 formcontact ">
            {% csrf_token %}
            {{ form.as_p }} 
            <div>
                <button type="submit" class="btn btn-warning">Update Contact Info</button>
                <a class="btn btn-light " href={% url "backoffice" %}>Go Back</a>
            </div>
        </form>
    </div>
    
</main>
{% endblock %}
