{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Alex Smith</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
    </div>
  </section><!-- End Hero --> 

  <main id="main">

    {% include "about.html" %}

    {% include "skills.html" %}

    {% include "portfolio.html" %}

    {% include "services.html" %}

    {% include "testimonials.html" %}

    {% include "contact.html" %}
    
  </main><!-- End #main -->





{% endblock content %}

