{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<main id="main">
    <div class="container">
        <h2>Add a New Service</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex  w-25 gap-3 ">
                <button type="submit" class="btn btn-success">Save Service</button>
                <a class="btn btn-primary" href={% url "backoffice" %}>Go Back</a>
            </div>
        </form>
    </div>    
</main>
{% endblock %}
